body
{

}

div.col-lg-4 span.input-group span.input-group-btn div
{
	display:none;

}

div.header
{
    background-color: #383838;
    border-bottom: #cd172d solid 2px;
    height: 50px;
}


input[type="submit"].large
{
    font-size: 30px;
    height: 50px;
	background-attachment:#fff;
}

div.col-lg-4 span.input-group div
{
	display:none;
    position: absolute;
    right: -50px;
    top: 20px;
}
div.col-lg-4 div#spinnerUpload
{
	display:none;
    position: absolute;
    right: -50px;
    top: 20px;
}



div.footer
{
    background-color: darkkhaki;
    color: #fff;
}

input[type="submit"].large
{
    font-size: 30px;
    height: 50px;
    background-attachment:#fff;
}

.col-centered
{
    float: none;
    margin: 0 auto;
}

.col-with-right-separator
{
	padding-right: 20px;
	border-right: 1px solid #cccccc;
}

.list-group-item.reports-nav-items.active
{
	background-color: #cd172d;
	color: #ffffff;
}

.logo
{
	color: #ffffff;
	font-size: 1.8em;
	margin: 10px 0 10px -15px;
	font-weight: bold;
}

.no-gutter
{
    padding-right: 0;
}

.textbox-large
{
    font-size: 35px;
    height: 50px;
}

.reports-nav-items
{
	border: 0;
}

.reports-nav-items:hover
{
	background-color: #cd172d;
	color: #ffffff;
}

.row-bottom-align
{
	display: table-cell;
	vertical-align: bottom;
}

.vertical-space
{
    height: 30px;
}

#admin-user-btn
{
	margin-top: 9px;
}

#chart-container
{
	width: 100%;
}

#reports-header
{
	font-weight: bold;
	color: #383838;
	margin-top: 25px;
}

#reports-nav
{
	background-color: transparent;
}
	
#reports-nav > .list-group-item
{
    border-radius: 0 !important;
	text-align: left;
	width: 100%;
}

#sl-count-wrapper
{
    background-color: #cd172d;
}

#user-header
{
}
