
body 
{
    
}

div.header
{
    
}

div.footer
{
    background-color: darkkhaki;
    color: #fff;
}

.textbox-large
{
    font-size: 35px;
    height: 50px;
}

input[type="submit"].large
{
    font-size: 30px;
    height: 50px;
	background-attachment:#fff;
}

div.col-lg-4 span.input-group span.input-group-btn div
{
	display:none;
	
}